<div class ="back-body">
  <div class="home-container">
    <%#   ロゴ    %>
    <div class="logo">
      <%= image_tag("logo.png", alt: "ロゴ", class: "logo-img") %>
    </div>

    <%#   ボタンエリア   %>
    <div class="button-container">
      <%= link_to image_tag("login.png", alt: "ログイン", class: "button-img"), "#" %>
      <%= link_to image_tag("signup.png", alt: "サインイン", class: "button-img"), "#" %>
    </div>
  </div>
</div>