<div class="home-container">
<%#   ロゴ    %>
<div class="logo">
<%= image_tag("logo.png", alt: "ロゴ", class: "logo-img") %>
</div>

<%#   ボタンエリア   %>
<div class="button-container">
<%= link_to image_tag("login.png", alt: "ログイン", class: "button-img"), login_path %>
<%= link_to image_tag("signup.png", alt: "サインイン", class: "button-img"), signup_path %>
</div>
</div>